::-webkit-input-placeholder{
	color: blue;
}

.form{
	display: flex;
	flex-direction: column;
	.form-input{
		display: inline-block;	
		background-color: transparent;
		position: relative;
		width: 25em;
		height: 2em;
		margin-right: 15px;
		border: none;
		border-bottom: 1px solid black;
		background-color: red;
	}	
	.name-and-lastName-container{
		flex: 1;
	}
	.email-and-phone-container{
		flex: 1;
		margin-bottom: 20px;
	}
	.textArea-container{
		flex: 2;
		.message{
			position: relative;
			width: 100%;
		}
	}
	.form-button-container{
		flex: 1;
	}
	
}
