#about-us{
	padding-top: 40px;
	padding-bottom: 200px;
	.right-side-container{
		justify-content: start;
		align-items: flex-start;
	}
}

.about-us-title-container{
	position: relative;
	background-color: #E2C26B;
	margin-left: 60px;
	margin-bottom: 60px;
	.title{
		padding: 0;
		font-weight: 800;
		font-size: 48px;
	}
}

.about-us-data-container{
	display: flex;
}

.family-photo-container{
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	.family-photo{
		display: inline-block;
		width: 680px;
		height: 640px;
		border: 1px solid black;
	}
}

.about-us-text-container{
	font-size: 1.6rem;
	flex: 1;
	margin-top: 60px;
	margin-left: 14%;
}


.form-container{
	margin-left: 40px;
	margin-top: 7em;
	.form-title{
		font-size: 2rem;
		margin-bottom: 40px;
	}
}

@media(max-width: 1024px){
	.about-us-data-container{
		display: flex;
		flex-direction: column;
		.family-photo{
			width: 80%;
			height: 80%;
		}
	}
	
	.about-us-title-container{
		margin-left: 40px;
		.title{
			font-size: 38px;
		}
	}
}
