.apartment-title-container{
	position: relative;
	background-color: #A7C4FF;
	padding-top: 40px;
	margin-left: 60px;
	margin-bottom: 60px;
	.title{
		font-weight: 800;
		font-size: 48px;
	}
}

.apartment-detail-container{
	text-align: center;
	padding-bottom: 60px;
}