.request-button{
	background-color: transparent;
	color: white;
	font-size: 1.4rem;
	border: 1px solid #686868;
	padding: 8px 35px;
	font-weight: 300;
	transition: 0.3s all ease;
	cursor: pointer;
	&:hover{
		background-color:  #686868;
		border: 1px solid black;
		color: white;
	}
}