.mobile-navigation-container{
	display: none;
}

.menu-open-icon{
	color: white;
	font-size: 38px;
}

@media(max-width: 1000px){
	.mobile-navigation-container{
		display: block;
	}
	.icon-holder{
		position: absolute;
		right: 3rem;
		top: 2rem;
	}
	
}