.mobile-navigation-container{
	display: none;
}

.menu-open-icon{
	color: white;
	font-size: 38px;
}


@media(max-width: 1024px){
	.mobile-navigation-container{
		display: block;
		position: relative;
		*:focus {
			outline: 0;
			outline: none;
		}
	}
	.icon-holder{
		z-index: 2;
		position: fixed;
		right: 1rem;
		top: 2.2rem;
		cursor: pointer;	
		outline: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: transparent;
		*:focus {
			outline: 0;
			outline: none;
			}
	}
	.menu-open-icon{
		font-size: 30px;
		*:focus {
			outline: 0;
			outline: none;
		}
	}
	.menu-close-icon{
		font-size: 2em;
		outline: none;
		*:focus {
			outline: 0;
			outline: none;
		}
	}
	//below are mobile menu container styles
	.mobile-menu-container{
		display: flex;
		flex-direction: column;
		background-color: #E89A9A;
		position: fixed;
		z-index: 1;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100%;
		transition: 0.3s all ease;
		.mobile-link{
			display: inline-block;
			text-decoration: none;
			color: black;
		}
		.mobile-menu-title-container{
			width: 100%;
			.title{
				width: 100%;
				margin-top: 30px;
				margin-left: 25px;
				margin-bottom: 100px;
				font-weight: 800;
			}
		}
		.mobile-links-container{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			.mobile-apartment-link-container{
				margin-top: 20px;
				margin-right: 7%;
				font-size: 2em;
				margin-bottom: 30px;
			}
			.mobile-location-link-container{
				margin-right: 7%;
				font-size: 2em;
				margin-bottom: 30px;
			}
			.mobile-aboutUs-link-container{
				margin-right: 7%;
				font-size: 2em;
				margin-bottom: 30px;
			}
			.mobile-contact-info-container{
				margin-right: 7%;
				font-size: 1.2rem;
				margin-bottom: 2em;
				.mobile-phone-number-container{
					margin-top: 3em;
					text-align: right;
					margin-bottom: 2em;
				}
				.mobile-email-container{
					text-align: right;
				}
			}
		}
		
		
	}
	//above are mobile menu container styles
}

@media(max-width: 1000px){
	.mobile-navigation-container{
		display: block;
	}
	.icon-holder{
		z-index: 99;
		position: fixed;
		right: 1rem;
		top: 2.2rem;
		cursor: pointer;	
	}
	.menu-open-icon{
		font-size: 30px;
	}
}