* {
	margin: 0;
	padding: 0;
}

body, html{
	height: 100%;
	width: 100%;
}

h1{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 400;
}

h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

p, button{
	font-family: 'Chivo', sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/*GLOBAL STYLES FOR LEFT SIDE AND RIGHT SIDE OF THE LOCATION 
AND ABOUT US PAGES*/
.left-side-container{
	flex: 1;
}
.right-side-container{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*** FONTS ***/
/*
font-family: 'Chivo', sans-serif;
font-family: 'Playfair Display', serif;
*/