$computerScreenNavLinksColor: #FFF;
$titleColor: #FFF;
$priceBackgroundColor: #EE9393;
$apartmentComponentBackground: #A7C4FF;
$locationComponentBackground: #FFA7A7;
$aboutComponentBackground: #E2C26B;
$homeBackground: "../../images/homepage-background/kvarner-apartments-property-1-l.jpg"